body {
    display: flex;
    flex-direction: column;
    justify-items: left;
    padding: 2rem;
}

header {
    border-bottom: 1px solid grey;
}

#data-request-form {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
    padding-top: 1rem;
    border-bottom: 1px solid grey;
}

.input-label {
    margin: 0rem 1rem 1rem 3rem;
}

[type="radio"] {
    margin:  0rem 1rem 1rem 1rem;
}

#submit {
    margin: 0rem 1rem 1rem 1rem;
}

#data-selector {
    width: 14rem;
    height: 2rem;
}

#location {
    height: 2rem;
}
label {
    margin-right: 1rem;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#container > h3 {
    width: 100%;
}

.daily {
    margin: 2rem;
}

p {
    margin: 0rem;
    padding: 0rem;
}

